.weather-map {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    position: relative;
    background-color: black;
    gap: 2;
    color: white;
    padding: 15px;
}
.weather {
    width: 100%;
    height: 305px;
    background-color: red;
    border-bottom: 10px solid black;
}
.appTitle {
    font: {
        size: 6rem;
    }
}