.splash {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    posit
    background-color: black;
    color: white;
}

.appTitle {
    font: {
        size: 6rem;
    }
}