.splash {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    position: relative;
    background-color: black;
    color: white;
}
.weather {
    width: 100%;
    height: 100vh/;
    background-color: red;
}
.appTitle {
    font: {
        size: 6rem;
    }
}