@use "colors"; @use "fonts";

.weather-container {
    width: 80%;
    height: 100%;
    padding: 5% 2%;
    display: flex;
    flex-direction: column;
}
.date-location {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.location-icon {
    margin-right: 10px;
}
.location{
    letter-spacing: fonts.$ls;
    text-transform: fonts.$uCase;
}
.date {
    color: colors.$black;
    font-weight: fonts.$semibold;
    letter-spacing: fonts.$lsm;
    margin: 10px 0;
}

.conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.temperature {
    font-weight: fonts.$bold;
    color: colors.$black;  
    position: relative;
}
.temp-value {
    font-size: fonts.$xxl;
}
.temp-unit {
    position: absolute;
    top: 20px;
}